@charset "ISO-8859-1";

body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5 rem;
	text-align: center;
}

h1{
	color:#0000FF;
}

.form {
	background-color: #efefef;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	padding: 20px;
}